@tailwind base;
@tailwind components;
@tailwind utilities;

.skip-to-content-link {
  position: absolute;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -10000px;
}

.skip-to-content-link:focus {
  position: static;
  width: auto;
  height: auto;
}
