.container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 5fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

header {
    grid-row: 1;
    grid-column: 1;
    border: solid red;
}

form {
    grid-row: 2;
    grid-column: 1;
    border: solid red;
}

#day-view {
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    border: solid red;
}

#day-view table td {
    width: 50%;
    text-align: center;
}

#graph-view {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    border: solid red;
}

#explanation {
    grid-column: 2;
    grid-row: 4;
    border: solid red;
}